<!DOCTYPE html>
<html>
<head>
    <title>Data Table</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <input type="text" id="search" placeholder="Search...">
    <table id="data-table">
        <thead>
            <tr>
                <th>Field 1</th>
                <th>Field 2</th>
                <th>Field 3</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.field1 }}</td>
                <td>{{ item.field2 }}</td>
                <td>{{ item.field3 }}</td>
                <td><a href="{% url 'edit' item.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
